body {
    background-image: url(countdown1.jpg);
    background-position: -180px 0px;
    background-repeat: no-repeat;
}

.number {
    background-color: #224A87;
    color: white;
    font-family: Arial;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    width: 112px;
    height: 100px;
    margin-right: 11px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    line-height: 100px;
    display: inline-block;
}

.number-inner {
    display: inline-block;
    transform: translateY(0px);
}

#targetnumber {
    background-color: #0101C5;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 120px;
    text-align: center;
    width: 270px;
    height: 120px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    line-height: 120px;
    display: inline-block;
    position: absolute;
    top: 88px;
    left: 646px;
}

#targetnumber>span {
    display: inline-block;
    transform: translateY(-8px);
}

#numbers {
    position: absolute;
    left: 418px;
    top: 240px;
}

.compress {
    transform: scaleX(0.8) translateY(0px) translateX(-19px);
}

#solution {
    position: absolute;
    left: 360px;
    top: 410px;
    height: 470px;
    width: 810px;
    font-family: "Segoe Script", "Comic Sans MS";
    font-size: 40px;
    padding-top: 30px;
    padding-left: 21px;
}

#rachel {
    position: absolute;
    left: 0px;
    top: 260px;
    height: 820px;
    width: 335px;
}
